appdirs
click
Flask
Flask-SQLAlchemy
itsdangerous
Jinja2
MarkupSafe
numpy==1.12.1
packaging
py
pyparsing
pytest
pytest-flask
pytest-cov
requests
scikit-learn==0.18.1
scipy==0.19.0
six
sklearn==0.0
SQLAlchemy
Werkzeug
